<div class="card">
  <img src="{{ imageURL }}" alt="Avatar" />
  <div class="container">
    <div class="rating">
      <h4>
        {{ Title }}
      </h4>
      <h3>⭐ 9.1</h3>
    </div>
    <p>
      Love Today is a 2022 Indian Tamil-language romantic comedy film directed
      by Pradeep Ranganathan and produced by AGS Entertainment. The film stars
      Pradeep (in his acting debut), alongside Ivana, Raveena Ravi, Yogi Babu,
      Sathyaraj, Radhika Sarathkumar, Akshaya Udayakumar, Prathana Nathan,
      Adithya Kathir and Aajeedh Khalique.
    </p>
  </div>
</div>
