.form{
    display: grid;
    justify-content: center;
    min-width: 1000px;
    justify-items: center;
}
.form input{
    width: 1000px;
}
// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     width: 100%;
//   }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  