<div class="movies">
  <div class="card">
    <iframe
      width="100%"
      height="514"
      [src]="trustedUrl"
      [title]="movie.name"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <div class="container">
      <div class="title-des">
        <p>
          {{ movie.name }}
        </p>
        <p class="movie-rating">⭐ {{ movie.rating }}</p>
      </div>
      <p>
        {{ movie.summary }}
      </p>
    </div>
  </div>
</div>
